<h2>{{ payment_title }}</h2>
<p>{{ payment_description }}</p>
<div class="buttons">
    <div class="pull-right">
        <a href="{{ redirect_url }}" title="{{ button_proceed }}" class="btn btn-primary">{{ button_proceed }}</a>
    </div>
</div>
