{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="button" data-toggle="tooltip" title="{{ button_refund }}" class="btn btn-danger" onclick="start_refund();"><i class="fa fa-cogs"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_install %}
        <div class="alert alert-danger"><i class="fa fa-check-circle"></i> {{ error_install }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% else %}
            {% if success %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% elseif referror is defined %}
            <div class="alert alert-danger"><i class="fa fa-check-circle"></i> {{ referror }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}
            {% if refund_messages %}
                {% for msg in refund_messages %}
                    {% if msg.status == 1 %}
                        <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ entry_order_id }}: {{ msg.order_id }} {{ msg.message }} <button type="button" class="close" data-dismiss="alert">&times;</button></div>
                    {% else %}
                        <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> {{ entry_order_id }}: {{ msg.order_id }} {{ msg.message }} ({{ msg.number }}) <button type="button" class="close" data-dismiss="alert">&times;</button></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
                </div>
                <div class="panel-body">
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="input-order-id">{{ entry_order_id }}</label>
                                    <input type="text" name="filter_order_id" value="{{ filter_order_id }}" placeholder="{{ entry_order_id }}" id="input-order-id" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="input-customer">{{ entry_customer }}</label>
                                    <input type="text" name="filter_customer" value="{{ filter_customer }}" placeholder="{{ entry_customer }}" id="input-customer" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="input-paymentid">{{ entry_paymentid }}</label>
                                    <input type="text" name="filter_paymentid" value="{{ filter_paymentid }}" id="input-paymentid" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="input-order-status">{{ entry_orderstatus }} {{ filter_order_status }}</label>
                                    <select name="filter_order_status" id="input-order-status" class="form-control">
                                        <option value="*"></option>
                                        {% if filter_order_status == '0' %}
                                        <option value="0" selected="selected">{{ text_missing }}</option>
                                        {% else %}
                                        <option value="0">{{ text_missing }}</option>
                                        {% endif %}
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == filter_order_status %}
                                            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="input-date-added">{{ entry_date_added }}</label>
                                    <div class="input-group date">
                                        <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="input-date-modified">{{ entry_date_modified }}</label>
                                    <div class="input-group date">
                                        <input type="text" name="filter_date_modified" value="{{ filter_date_modified }}" placeholder="{{ entry_date_modified }}" data-date-format="YYYY-MM-DD" id="input-date-modified" class="form-control" />
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
                        </div>
                    </div>
                    <form action="{{ refund }}" method="post" enctype="multipart/form-data" id="form-refund">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected_orders\']').prop('checked', this.checked);" /></td>

                                        <td class="text-left">{% if sort == 'order_id' %}
                                        <a href="{{ sort_order }}" class="{{ order|lower }}">{{ col_order }}</a>
                                        {% else %}
                                        <a href="{{ sort_order }}">{{ col_order }}</a>
                                        {% endif %}</td>
                                        <td class="text-left">{{ col_paymentid }}</td>
                                        <td class="text-left">{{ col_customer }}</td>
                                        <td class="text-left">{% if sort == 'status' %}
                                        <a href="{{ sort_status }}" class="{{ order|lower }}">{{ col_status }}</a>
                                        {% else %}
                                        <a href="{{ sort_status }}">{{ col_status }}</a>
                                        {% endif %}</td>
                                        <td class="text-left">{{ col_total }}</td>
                                        <td class="text-left">{{ col_date_added }}</td>
                                        <td class="text-left">{{ col_date_modified }}</td>
                                        <td class="text-left">{{ col_refunded }}</td>
                                        <td class="text-left">{{ col_refunddate }}</td>
                                        <td class="text-right">{{ col_view }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if psorders %}
                                    {% for psorder in psorders %}
                                    <tr>
                                        <td class="text-center">{% if psorder.order_id in selected_orders %}
                                            <input type="checkbox" name="selected_orders[]" value="{{ psorder.order_id }}" checked="checked" />
                                            {% else %}
                                            <input type="checkbox" name="selected_orders[]" value="{{ psorder.order_id }}" />
                                            {% endif %}</td>
                                        <td class="text-left">{{ psorder.order_id }}</td>
                                        <td class="text-left">{{ psorder.payment_id }}</td>
                                        <td class="text-left">{{ psorder.customer }}</td>
                                        <td class="text-left">{{ psorder.status }}</td>
                                        <td class="text-left">{{ psorder.total }}</td>
                                        <td class="text-left">{{ psorder.date_added }}</td>
                                        <td class="text-left">{{ psorder.date_modified }}</td>
                                        <td class="text-left">{{ psorder.refunded == 1 ? text_yes : '' }}</td>
                                        <td class="text-left">{{ psorder.refunded == 1 ? psorder.refunded_date : '' }}</td>
                                        <td class="text-right"><a href="{{ psorder.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td class="text-center" colspan="11">{{ text_no_results }}</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-6 text-left">{{ pagination }}</div>
                        <div class="col-sm-6 text-right">{{ results }}</div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
    var url = 'index.php?route=extension/payment/paysafecash/listorders&user_token={{ user_token }}';
    var filter_order_id = $('input[name=\'filter_order_id\']').val();
    if (filter_order_id) {
        url += '&filter_order_id=' + encodeURIComponent(filter_order_id);
    }

    var filter_customer = $('input[name=\'filter_customer\']').val();

    if (filter_customer) {
        url += '&filter_customer=' + encodeURIComponent(filter_customer);
    }

    var filter_paymentid = $('input[name=\'filter_paymentid\']').val();

    if (filter_paymentid) {
        url += '&filter_paymentid=' + encodeURIComponent(filter_paymentid);
    }

    var filter_order_status = $('select[name=\'filter_order_status\']').val();

    if (filter_order_status != '*') {
        url += '&filter_order_status=' + encodeURIComponent(filter_order_status);
    }

    var filter_date_added = $('input[name=\'filter_date_added\']').val();

    if (filter_date_added) {
        url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
    }

    var filter_date_modified = $('input[name=\'filter_date_modified\']').val();

    if (filter_date_modified) {
        url += '&filter_date_modified=' + encodeURIComponent(filter_date_modified);
    }

    location = url;
});

function start_refund(){
    if (confirm("Are you sure?")) {
        $('#form-refund').submit();
    }
}
//--></script>
<script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
<script type="text/javascript"><!--
$('.date').datetimepicker({
    pickTime: false
});
//--></script>

{{ footer }}
